main{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-card{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.formChurros{
    width: 80%;
}

.estado-cidade{
    display: flex;
}

.max-width{
    width: 100%;
}